@import "variable/index.scss";

// custom css

.bIvDcJ {
    background-color: transparent !important;
}

html {
    background: linear-gradient(235.89deg, #C35E5E 29.81%, #B54B4B 43.66%, #7A0000 98.72%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background: none !important;
    font-family: 'SVN-Gilroy' !important;
}

.flex {
    .content {
        min-height: 93vh;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ac1f1fc4;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }
}

.side-nav {

    .side-menu__sub-open {
        height: 100% !important;
        background-color: #8a41419c;

        .side-menu {
            &:hover .side-menu__icon::before {
                background-color: #8c1b1b9c;
            }

        }
    }

    .side-menu__icon {
        width: 36px;
        height: 30px;

        .svg-icon {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
        }
    }

    .side-menu__title {
        margin-left: 0px !important;
        padding-left: 17px;
        font-size: 100 !important;
    }

    .logo {
        margin-bottom: 31px;
    }

    &__devider {
        margin-top: 0;
    }

    .side-nav-item {
        font-size: 13px;
    }

    .side-menu {
        font-size: 12px;
    }
}

.side-nav>ul>li>.side-menu:hover:not(.side-menu--active):not(.side-menu--open) .side-menu__icon:before {
    background-color: #8c1b1b9c;
}

.top-nav>ul li:hover .top-menu:not(.top-menu--active) .top-menu__icon:before {
    background-color: #8c1b1b9c;
}

.side-nav>ul>li>.side-menu.side-menu--active .side-menu__icon {
    color: #8c1b1b9c;

    .svg-icon {
        background-color: #AA3E3E;
    }
}

.side-nav>ul>li>.side-menu.side-menu--active .side-menu__title {
    color: #AB3F3F;
}


.icon-table-actions {
    display: flex;

    &__view {
        color: $edit-icon;
        margin: 0px 10px;
        max-width: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    &__delete {
        color: #dd3444;
        margin: 0px 10px;
        max-width: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    .table-icon {
        margin: 0px 8px;

        &:hover {
            cursor: pointer;
        }
    }
}

.breadcrumb {
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

a:hover {
    text-decoration: none !important;
}


// pagination
.pagination {
    .page-item {
        padding-right: 4px;

        .page-link {
            border-radius: 4px;
            color: #BA5353;
            background-color: #fff;
            border: none;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .page-item.active {
        .page-link {
            background-color: #C45F5F;
            border-color: #C45F5F;
        }
    }
}

.modal-body {
    .invalid-feedback {
        color: #ffffff !important;
    }

    .label-required {
        span {
            color: #ffffff !important;
        }
    }
}

// custom css