.product__description{
    border: 1px solid red;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px 10px;
    box-shadow:1px 1px;
}
.details__p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
}
.details__p p{
    font-weight: 600;
    margin: 10px 0;
}
.details__p p span{
    font-weight: normal;
}
.details__freeship{
    display: flex;
    align-items: center;
    justify-content:start;
    background-color: aquamarine;

}
.details__freeship img{
    width: 10%;
}