.formwrite{
    display:flex;
    flex-direction: column;
    padding:10px 10px
}
.avatar{
    display:flex;
    width: 30%;
    flex-direction: column;
    justify-content:center;
}
.avatar__img{
    width:100px;
    border-radius: 50%;
    border: 1px solid;
    overflow: hidden;
}
.avatar__img img{
    width: 100%;
    height: auto;
} 