.slick-prev:before, .slick-next:before {
  
    color: grey!important;
   }

   .details__image {
    width: 70%;
    height: auto;
    padding-right: 30px;
}
   .slick-dots {
    width: 100% !important;
    top: 100%!important;
    display: flex!important;
    justify-content:space-between!important;
    height:70px!important;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20%!important;
    height: 20px;
    margin: 0 0px!important;
    padding: 0;
    cursor: pointer;
    border-radius: 5px!important;
}
.details__image  img {
    border: 1px solid grey;
    width: 100%;
    height: auto;
    margin-bottom: 0!important;
}