.top-bar-switch-lang {
    display: flex;

    img {
        width: 30px;
        height: 30px;
    }

    &__vi {
        margin-right: 22px;
        margin-left: 22px;
        &:hover {
            cursor: pointer;
        }
    }

    &__en {

        &:hover {
            cursor: pointer;
        }
    }
    &--active {
        border: 1px solid #8c1b1b9c;
        border-radius: 50%;
        padding: 5px;
    }
}

.breadcrumb {
    &__main {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        &:hover {
            color: #AA3E3E;
        }
    }

    &__icon {
        margin-top: 3px;
        height: 22px !important;
        width: 18px !important;
        color: #AA3E3E;
    }

    &__page-item {
        font-size: 14px;
        font-weight: 400;
        color: #AA3E3E;
        &:hover {
            color: #AA3E3E;
        }
    }
}